<html>

<head>
    <title>
        Demo Khoa Phạm
    </title>
    <link rel="stylesheet" type="text/css" href="layout.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="socket.io/socket.io.js">
    </script>
    <script src="script.js">
    </script>
</head>

<body>
    <div id="wrapper">
        <div id="loginForm">
            <h2>Name</h2>
            <input type="text" id="txtUserName" />
            <input type="text" id="txtID" />
            <input type="button" value="Register" id="btnRegister" />
        </div>
        <div id="chatForm">
            <div id="left">
                <div id="boxTitle">Users Online</div>
                <div id="boxContent">

                </div>
            </div>
            <div id="right">
                <div id="sayHi">
                    hello <span id="currentUser">Thao</span>
                    <input type="button" value="logout" id="btnLogout">
                </div>
                <div id="listMessage"></div>
                <input type="text" id="txtMessage" />
                <input type="button" value="send" id="btnSendMessage">

            </div>
        </div>

    </div>
</body>

</html>