<html>
    <head>
<title>
    Demo Khoa Phạm
</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="socket.io/socket.io.js"> </script>
<script>
    // gọi lên server
    var socket=io("http://localhost:3000")
    $(document).ready(function(){
        alert("helo anh")
    })
</script>
    </head>
    <body>
hello anh thao
    </body>
</html>
